<!doctype html>
<html class="dbt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <% if defined?(package) and defined?(version) and (is_hidden(package, version) or not is_latest(package, version))%>
      <!--
        Version: <%= version['version'] %>
        Latest: <%= package.latest %>
        Is blocklisted?: <%= is_hidden(package, version) %>
      -->
      <meta name="robots" content="noindex">
    <% end %>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css'></link>

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag 'hljs/styles/github' %>
    <%= javascript_include_tag 'hljs/highlight.pack' %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.18/marked.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      marked.setOptions({
        gfm: true, //github-flavored markdown
        tables: true,

        highlight: function (code) {
          return hljs.highlightAuto(code).value;
        }
      });
   </script>


    <%= favicon_tag "#{site_url}/img/favicon.ico" %>

    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>


    <title>dbt - Package hub</title>
  </head>
  <body class="dbt">
    <div class="page">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="section section-slim">
	    <div class="section-content">
	      <div class="footer-content">
		    <div class="footer-links">
		      <ul>
                <li>
                  <a href="<%= site_url %>">
                    Home
                  </a>
			    <li>
                  <a href="https://www.getdbt.com/"
                     target="_blank">dbt</a>
                </li>
			    <li>
                  <a href="https://blog.getdbt.com"
                     target="_blank">Blog</a>
                </li>
			    <li>
                  <a href="https://github.com/dbt-labs/dbt"
                     target="_blank">GitHub</a>
                </li>
		      </ul>
		      <ul>
			    <li>
                  <a href="https://www.getdbt.com/dbt-labs/about-us/"
                     target="_blank">
                    <strong>dbt</strong>
                    is sponsored with love by
                    <strong>
                      dbt Labs
                    </strong>
                  </a>
                </li>
		      </ul>
		    </div>
	      </div>
	    </div>
      </div>
    </footer>

  </body>
</html>
