<header class="header">
  <%= partial "nav" %>
  <section class="section ensemble center">
	<div class="section-content section-content-small">
      <h1 class="h0">Extend dbt with Packages and Agent Skills</h1>
	  <p class="text-large">
        Use one of our community packages or Agent Skills to develop more effectively with dbt.
	  </p>
	  <div class="hero-buttons">
	    <a href="/" class="btn btn-white btn-shadow btn-lg hero-btn active">
	      Packages
	    </a>
	    <a href="/skills/" class="btn btn-white btn-shadow btn-lg hero-btn">
	      <span class="new-badge">New!</span>
	      Agent Skills
	    </a>
	  </div>
	</div>
  </section>
</header>

<main class="main">

  <section class="section offset white">
	<div class="section-content">
	  <div class="row">
          <div class="col-md-12 center">
              <h4 class="h4">Featured Packages</h4>
          </div>
      </div>
      <div class="tiles">
        <% data.featured.each do |feat| %>
            <% org = feat['org'] %>
            <% pkg = feat['package'] %>
            <% name = "#{org}/#{pkg}" %>
            <% package = config[:package_index][name] %>
            <%= partial "package_card", :locals => { :package => package } %>
        <% end %>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-12 center">
          <h4 class="h4">Package Index</h4>
        </div>
      </div>
      
      <!-- Search and Filter Section -->
      <div class="row search-filter-section">
        <div class="col-md-12">
          <div class="search-container">
            <input type="text" id="package-search" placeholder="Search packages..." aria-label="Search packages by name" />
            <button id="clear-search" class="hidden" aria-label="Clear search">×</button>
            <div class="filter-container">
              <label class="fusion-filter-label">
                <input type="checkbox" id="fusion-filter" />
                <span>Show only packages compatible with the dbt Fusion engine</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <div id="no-results">
        <p>No packages found matching your criteria.</p>
      </div>
      
      <br/>
      <% orgs = data.packages.to_hash.keys.sort_by {|k,v| k.downcase} %>
      <% orgs.each do |org| %>
        <% if not data.blocklist['organizations'].include?(org) %>
          <div class="row package-org" data-org="<%= org.downcase %>">
            <div class="col-md-12">
              <h4 class="org-name"><%= org %></h4>
              <ul class="package-list">
                   <% packages = data.packages[org].sort_by {|name, package| name.downcase} %>
                   <% packages.each do |name, package| %>
                      <% if not data.blocklist['packages'].include?(org + "/" + name) %>
                          <% full_package = build_package(package, org, name) %>
                          <% is_compatible = is_fusion_compatible(full_package) %>
                          <li class="package-item" 
                              data-package-name="<%= name.downcase %>" 
                              data-full-name="<%= (org + '/' + name).downcase %>"
                              data-fusion-compatible="<%= is_compatible %>">
                              <%= link_to(name, "/#{package['index'].namespace}/#{package['index'].name}/latest") %>
                              <% if is_compatible %>
                                <span class="fusion-icon-inline">
                                  <%= image_tag('fusion_atom.svg', {alt: 'Fusion', class: 'fusion-icon'}) %>
                                </span>
                              <% end %>
                          </li>
                      <% end %>
                  <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</main>