<header class="header">
  <% if is_hidden(package, version) or (defined?(package.redirectnamespace) or defined?(package.redirectname)) %>
    <div class="row">
      <div class="col-md-12" style="padding:0px;">
        <%= partial "hidden" %>
      </div>
    </div>
  <% end %>
  <%= partial "nav" %>
  <section class="section white section-slim" style="padding-bottom:66px;">
  </section>
</header>

<main class="main">
  <section class="section white section-slim">
    <div class="section-content">

      <div class="row">

        <div class="col-md-8">
          <div class="tile-body"
               style="box-shadow: none; overflow: visible">
            <div class="tile-graphic">
              <%= image_tag(package.assets.logo, {alt: package.name}) %>
            </div>
            <div class="tile-text">
              <h1><%= package.name %></h1>
              <em>
                Created by
                <a href="<%= site_url %>/<%= package.namespace %>/"
                   target="_self">
                  <%= package.namespace %>
                </a>
              </em><br/>
              <em><%= package.versions[package.latest].description %></em>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <form class="form-inline margin" style="margin-top: 32px">
            <div class="form-group select">
              <label for="version">Version</label>
              <select class="form-control"
                      style="min-width: 225px"
                      id="version"
                      onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <% for local_version, package_version in package.versions.sort.reverse %>
                <option value="<%= site_url %>/<%= package.namespace %>/<%= package.name %>/<%= local_version %>"
                        <% if local_version == version.version %>selected="selected"<% end %>>
                  <%= local_version %><% if local_version == package.latest %> (latest)<% end %>
                </option>
                <% end %>
              </select>
            </div>
          </form>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-12">
          <h3>Installation</h3>
          <p>Include the following in your <code>packages.yml</code> file:
          <pre id='install'>
packages:
  - package: <%= package.namespace %>/<%= package.name %>
    version: <%= version.version %></pre>
          <p> Run <code>dbt deps</code> to install the package.
          <p> For more information on using packages in your dbt project, check out the <a href="https://docs.getdbt.com/docs/package-management">dbt Documentation</a>.
        </div>
      </div>
    </div>
  </section>
  <section class="section section-slim white offset" style="padding-top: 0">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h3>README</h3>
          (<a href="<%= version._source.url %>">View on GitHub</a>)
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <base href="<%= package.versions[package.latest]._source.url %>"
                target="_blank">
          <article id="readme" class='markdown-body'>
            <div class="loading">
          </div>
        </div>
      </div>

    </div>
  </section>
</main>

<script>
  $.get('<%= version._source.readme %>').done(function(data) {
      document.getElementById('readme').innerHTML = marked(data)

  });
  $('#install').each(function(i, block) {
    hljs.highlightBlock(block);
  });
</script>
